page-give-back {
.div2 {
    background: linear-gradient(to bottom, #33ccff 12%, #ffffff 100%);
  }
.h2shadowed {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    text-shadow: 2px 2px 2px #aaa;
    text-align: center; 
}
.h1block {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 38px;
    text-align: center; 
}
.h2block { y
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px #aaa; 
    text-align: center;
    // text-justify: inter-word;
  }
p {
   font-family: 'Questrial', sans-serif;
   font-size: 16px;
   text-shadow: 1px 1px 1px #aaa;
   text-align: justify;
   text-justify: inter-word;
 }
}