page-rewards {

.div2 {
    background: linear-gradient(to bottom, #33ccff 12%, #ffffff 100%);
  }
.prewards {
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 1px #aaa;
    text-align: justify;
    text-justify: inter-word;
  }
}