page-home {


h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 38px;
    text-shadow: 3px 3px 3px #aaa;
    text-align: center;
  }
  div {
    margin-left: auto;
    margin-right: auto;
}
.div2 {
    background: linear-gradient(to bottom, #33ccff 12%, #ffffff 100%);
  }
}